.profile-background {
			height: 120px;
			background: url(../img/bg.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
.profile-avatar {
			width: 90px;
			height: 90px;
			overflow: hidden;
			border-radius: 100px;
			border: 3px solid #fff;
			margin-top: -50px;
			margin-left: auto;
			margin-right: auto;
}
.profile-avatar img {
		max-width: 100%;
		height: auto;
}
.profile-title {
		font-size: 22px;
		font-weight: 800;
		text-align: center;
}
.profile-description {
	font-family: 'Noto-Serif', serif;
	font-style: italic;
	text-align: center;
}